@import url("../index.css");

.FooterContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: var(--darkColor);
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Switzer-Regular";
  font-size: 1.5rem;
  margin: 20px;
}

@media only screen and (max-width: 500px) {
  .reactIcon {
    font-size: 2rem;
    margin: 10px;
  }
}
