@import url('../index.css');

.block3Content{
    margin-left: calc(80vw/2);
    display: flex;
    font-family: 'Switzer-Extrabold';
    font-size: calc(100vw/13);
    line-height: calc(100vw/15)
}
.moveLeft{
    margin-left: calc(50vw/3);
}

.moveRight{
    margin-left: calc(90vw/2);
}

.changingText{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #303030;
    color: var(--lightColor);
}

@media only screen and (max-width: 500px) {
    .block3Content{
        margin-left: calc(80vw/3);
        display: flex;
        font-family: 'Switzer-Extrabold';
        font-size: calc(100vw/10);
        line-height: calc(100vw/10)
    }
    .moveLeft{
        margin-left: calc(50vw/3.5);
    }
    
    .moveRight{
        margin-left: calc(90vw/2);
    }
    .changingText{
        font-size: calc(100vw/12);
        width: fit-content;
        height: fit-content;
        padding: 10px;
        background-color: #303030;
        color: var(--lightColor);
    }
}

.customColor{
    color: var(--popAccent)
}

.customFont{
    font-family: MaziusItalic;
    font-weight: bolder;
}

#landingParent{
    display: block;
    overflow: hidden;
}


#landingChild{
    width: 100%;
    
    display: flex;
    /* transform: translate(300px, 0); */

}
/* 
#landingChild span{
    display: inline-block;
} */

#landingChildLeft{
    transform: translate(300px, 0);
    margin-right: 10px;
}

#landingChildMiddle{
    transform: translate(300px, 0);
    margin-right: 10px;

}

#landingChildRight{
    transform: translate(300px, 0);
    margin-right: 10px;

}

