@import url('../index.css');


.SpotifyContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.SpotifyText{
    width: 500px;
    color: var(--darkColor);
    font-size: 4rem;
}