@import url('./Fonts/css/switzer.css');

:root {
  --darkColor: #101010;
  --lightColor: #e7e2df;
}


body {
  margin: 0;
  font-family: 'Switzer-Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkColor);
  color: var(--lightColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
